body{
    background-color: black;
    display: center;
}
h4{
    margin: 0 auto;
    padding-right: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.post{
    background-color: white;
    width: 420px;
    border: solid black 10px;
}
.post-header{
    margin: 0 auto;
    padding: 10px;
}
.img{
    width: 90%;
}
.icons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 5 25px;
}
.icon{
    text-align: right;
    padding-right: 5px;
    height: 0px;
}
.html5{
    width: 100%;
    margin: 0 auto;
}